@-webkit-viewport{
    width: device-width;
}
@-moz-viewport{
    width: device-width;
}
@-ms-viewport{
    width: device-width;
}
@-o-viewport{
    width: device-width;
}
@viewport{
    width: device-width;
}

/* Smartphones adn mobiles */
@media (max-width:768px) {
    #hello_screen { position: relative; display: block; top: 22%; }
    #hello_screen div#hmiddle { position: relative; display: block; left:0; right:0; margin: 18% auto auto auto; text-align: center; }
    #hello_screen div#hlow_middle { position: relative; width:55%; display: block; left:0; right:0; margin: 15% auto auto auto; text-align: center; }
    #hello_screen div#hbottom { position: fixed; width:20%; display: block; bottom: 0; left:0; right:0; margin: auto; text-align: center;}
    
    #end_screen { position: relative; display: block; top: 22%; }
    #end_screen div#middle { position: relative; display: block; left:0; right:0; margin: 18% auto auto auto; text-align: center; }
    #end_screen div#low_middle div { position: relative; width:60%; font-size: 180%; display: block; left:0; right:0; margin: 15% auto auto auto; text-align: center; font-family: DkSuco; }
    #end_screen div#bottom { position: fixed; bottom: 0; width:50%; display: block; left:0; right:0; margin: auto; text-align: center; }
    
    #whois_screen { position: relative; display: block; top: 22%; font-size: 2.1vmin;  }
}

/* Tablets and books */
@media (min-width:1024px) {
    #hello_screen { position: relative; display: block; top: 10%; }
    #hello_screen div#hmiddle { position: relative; display: block; left:0; right:0; margin: 2% auto auto auto; text-align: center; }
    #hello_screen div#hlow_middle { position: relative; width:50%; display: block; left:0; right:0; margin: 0 auto auto auto; text-align: center; }
    #hello_screen div#hbottom { position: fixed; width:11%; display: block; bottom: 0; left:0; right:0; margin: auto; text-align: center;}
    
    #end_screen { position: relative; display: block; top: 10%; }
    #end_screen div#middle { position: relative; display: block; left:0; right:0; margin: 4% auto auto auto; text-align: center; }
    #end_screen div#low_middle div { position: relative; width:60%; font-size: 180%; display: block; left:0; right:0; margin: 4% auto auto auto; text-align: center; font-family: DkSuco; }
    #end_screen div#bottom { position: fixed; bottom: 0; width:50%; display: block; left:0; right:0; margin: auto; text-align: center; }
    #take_snapshot, #replayExperience, #valid { width:7%; }
}

/* Tablets and books ONLY for cam screen */
@media (max-width:1350px) and (max-height:679px) {
    #take_snapshot { position: relative; left:43%; right:0; margin: auto auto 17% auto; text-align: center; width:10%; }
    #replayExperience { position: absolute; left:80%; right:0; margin: auto auto 15% auto; text-align: center; width:10%; }
    #valid { position: absolute; left:80%; right:0; margin: auto auto 25% auto; text-align: center; width:10%; }
    
    div#allFilters { position: absolute; width: 80%; left:-3%; right:0; margin: -40% auto auto auto; }    
    div.filter{
      position: relative;
      clear: both;
      background-color: transparent;
      display: inline-block;
      border-width: 3px;
      border-color: #2d9f61;
      border-style: solid;
      border-radius: 5px;
      position: relative;
      margin: 3% 0 0 2%;
      float: left;
      padding:0px 12px;
      line-height: 2.235;
      font-size: 80%;
      font-family: "Streetwear";
      color: #2d9f61;
      text-align: center;
      text-decoration:none;
      -moz-transform: scale(1, 1.02);
      -webkit-transform: scale(1, 1.02);
      -ms-transform: scale(1, 1.02);
    }    
}

/* Tablets and books || Replay, valid and filters, only for tablets */
@media (width:1024px) and (height:768px) {
    #replayExperience { position: absolute; left:88%; right:0; margin: auto auto 30% auto; text-align: center; width:10%; }
    #valid { position: absolute; left:88%; right:0; margin: auto auto 40% auto; text-align: center; width:10%; }
    
    div#allFilters { position: relative; width: 100%; left:17%; right:0; margin: auto; text-align: center; display: inline-block; }
    div.filter{
      position: relative;
      background-color: transparent;
      display: inline-block;
      border-width: 3px;
      border-color: #2d9f61;
      border-style: solid;
      border-radius: 5px;
      position: relative;
      margin-left: 4%;
      float: left;
      padding:0px 12px;
      line-height: 2.235;
      font-size: 100%;
      font-family: "Streetwear";
      color: #2d9f61;
      text-align: center;
      text-decoration:none;
      -moz-transform: scale(1, 1.02);
      -webkit-transform: scale(1, 1.02);
      -ms-transform: scale(1, 1.02);
    }    
}

/* Tablets and books ONLY for cam screen */
@media (min-width:1366px) {
    #take_snapshot { position: relative; left:43%; right:0; margin: auto auto 17% auto; text-align: center; width:10%; }
    #replayExperience { position: absolute; left:80%; right:0; margin: auto auto 15% auto; text-align: center; width:10%; }
    #valid { position: absolute; left:80%; right:0; margin: auto auto 25% auto; text-align: center; width:10%; }
    
    div#allFilters { position: absolute; width: 80%; left:-3%; right:0; margin: -40% auto auto auto; }    
    div.filter{
      position: relative;
      clear: both;
      background-color: transparent;
      display: inline-block;
      border-width: 3px;
      border-color: #2d9f61;
      border-style: solid;
      border-radius: 5px;
      position: relative;
      margin: 3% 0 0 2%;
      float: left;
      padding:0px 12px;
      line-height: 2.235;
      font-size: 80%;
      font-family: "Streetwear";
      color: #2d9f61;
      text-align: center;
      text-decoration:none;
      -moz-transform: scale(1, 1.02);
      -webkit-transform: scale(1, 1.02);
      -ms-transform: scale(1, 1.02);
    }    
}