html{ background: #ffffff; font-size: 100%; color: #ffffff; height: 100%; }
body{ overflow: hidden; height: 100%; }
header{ background: #000000; height: 50px; position: fixed; display: block; width: 100%; top: 0; padding: 5px; }

@font-face {
    font-family: "ADAM";
    src: url('../typo/ADAM.otf');
}
@font-face {
    font-family: "SullivanBevel";
    src: url('../typo/Sullivan-bevel.otf');
}
@font-face {
    font-family: "SullivanFill";
    src: url('../typo/Sullivan-fill.otf');
}
@font-face {
    font-family: "SullivanRegular";
    src: url('../typo/Sullivan-regular.otf');
}
@font-face {
    font-family: "StreetWear";
    src: url('../typo/Streetwear.otf');
}
@font-face {
    font-family: "Farray";
    src: url('../typo/FARRAY.otf');
}
@font-face {
    font-family: "DkSuco";
    src: url('../typo/DkSuco.otf');
}
@font-face {
    font-family: "Vladimir";
    src: url('../typo/VladimirScript.ttf');
}
@font-face {
    font-family: "NexaBold";
    src: url('../typo/NexaBold.otf');
}
@font-face {
    font-family: "NexaLight";
    src: url('../typo/NexaLight.otf');
}
@font-face {
    font-family: "Blenda";
    src: url('../typo/BlendaScript.otf');
}
@font-face {
    font-family: "Sego";
    src: url('../typo/segoe_print.ttf');
}

div .filter{
  background-color: transparent;
  border-width: 3px;
  border-color: #2d9f61;
  border-style: solid;
  border-radius: 5px;
  position: relative;
  margin-left: 5%;
  padding:0px 12px;
  line-height: 2.235;
  font-size: 80%;
  font-family: "Streetwear";
  color: #2d9f61;
  text-align: center;
  text-decoration:none;
  -moz-transform: scale(1, 1.02);
  -webkit-transform: scale(1, 1.02);
  -ms-transform: scale(1, 1.02);
}
div .filter:hover{
  background-color:#2d9f61;
  color: #FFF;
}

div #defautFilter{ font-family: 'Myriad Pro' }
div #vintage{ font-family: 'Blenda' }
div #sepia{ font-family: 'NexaBold' }
div #greenish{ font-family: 'Segoe' }
div #reddish{ font-family: 'Vladimir' }


h1 { font-family: ADAM; padding:0 0 10px 0; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; }
h2 { font-family: ADAM; padding:0 0 10px 0; border-bottom: 1px solid #ffffff; }
h3 { font-family: Farray; padding:0 0 10px 0; }

#logo{ position: relative; left: 2%; margin: 5px; float: left;  }
#media{ width: 100%; height: 100%; }
#menu{ position: relative; right: 2%; margin: 15px; float: right; }
footer{ position: fixed; width: 100%; bottom: 0; }

#container { position: relative; width: 100%; height: 100%; font-size: 200%; top:-100%; }

#hello_screen { position: relative; display: block; top: 22%; }
#hello_screen h1 { width:600px; left:0; right:0; margin: auto; text-align: center; }
#hello_screen div#hmiddle div#htext2 { position: relative; width:900px; font-size: 600%; display: block;  left:0; right:0; margin: 22% auto 0 auto; text-align: center; font-family: SullivanRegular;  }
#hello_screen div#hmiddle img#left_arrow { position:absolute; left:0; margin-top:-1%;  }
#hello_screen div#hmiddle img#right_arrow { position:absolute; right:0; margin-top:-1%;  }
#hello_screen div#hlow_middle div#htext3 { position: relative; width:900px; font-size: 400%; display: block; 
    left:0; right:0; margin: 16% auto 0 auto; text-align: center; font-family: Blenda;
}
#hello_screen div#hbottom { position: relative; width:900px; display: block; 
    left:0; right:0; margin: 10% auto 0 auto; text-align: center;
}


#whois_screen { position: relative; display: block; top: 18%; }
#whois_screen h2{ width:590px; font-size: 165%; left:0; right:0; margin: auto; text-align: center;  }
#whois_screen div#formDiv{ font-family: NexaLight; width:600px; display: block; left:0; right:0; margin: 5% auto 0 auto; text-align: left; font-size: 90%;  }
#whois_screen div#formBefore{ float: left;  }
/* FORM PAGE */
label{position: relative; display:inline-block; width:120px; padding: 5px; margin-top: 15px; }
label[for=newsletter]{clear: both; position: relative; display:inline-block; width:600px;}
input[type=text],input[type=email]{ opacity:.7; padding: 5px; position: relative; display:inline-block; width:450px; margin:15px 0 5px 0; color:#000000; z-index:999999;}
input[type=radio],input[type=checkbox]{width:1em; height:1em;}
textarea{width:600px; height:100px; padding:5px; font-size: 100%; }
div .error{color:#ff0000;}
div .success{color: green;}
#opacityFilm { position: absolute; background:#FFFFFF; opacity: .5; margin:-5% 0 0 5%; width:970px; height: 800px; z-index: -100; }


#experience_screen{ position: relative; display: block; top: 18%; }
#experience_screen h2{ width:750px; font-size: 90%; left:0; right:0; margin: auto; text-align: center;  }

#content { width: 100%; position: absolute; top: 25%; display: block; text-align: center; left: 0; right: 0; margin: auto; }

#counter{ color: #ffffff; font-weight: bold; left: 0; right: 0; text-align: center; position: absolute; top:35%; z-index: 9999999;  }

#actions_screen { position: relative; display: block; top: 17%;  }
#actions_screen div#polaroid{ left:0; right:0; margin: auto; text-align: center; }
#actions_screen div#polaroid div.filter{ float: left; }
#actions_screen div#polaroid div#defaultFilter{ margin-left: 14%; }

#actions{ position: absolute; left:0; right:0; margin: 50% auto 0 auto; text-align: center; }
#take_snapshot { position: absolute; left:0; right:0; margin: 60% auto 0 auto; text-align: center; }

#end_screen { position: relative; display: block; top: 22%; }
#end_screen h3 { width:600px; font-size: 250%; left:0; right:0; margin: auto; text-align: center; }
#end_screen div#middle div#text2 { position: relative; width:700px; font-size: 160%; display: block;  left:0; right:0; margin: 26% auto 0 auto; text-align: center; font-family: Sego;  }
#end_screen div#middle img#left_arrow { position:absolute; left:0; margin-top:-8%;  }
#end_screen div#middle img#right_arrow { position:absolute; right:0; margin-top:-8%;  }
#end_screen div#low_middle div#text3 { position: relative; width:900px; font-size: 180%; display: block; 
    left:0; right:0; margin: 16% auto 0 auto; text-align: center; font-family: DkSuco;
}
#end_screen div#bottom { position: relative; width:900px; display: block; 
    left:0; right:0; margin: 30% auto 0 auto; text-align: center;
}


#bandeau_result{ width:100%; padding: 15px; position:relative; display: block; font-size: 150%; left: 50%; }
#bandeau_result p{ text-align:center; margin-top: -17%; }

#flash{ background: #ffffff; width:100%; height: 100%; z-index: 99999999; }

#message { position: absolute; display: block; text-align: center; left: 0; right: 0; margin: auto; }
#end_message { font-size: 180%; position: absolute; display: block; text-align: center; left: -20%; right: 0; margin: auto; }

#black_screen{ background-color: #000000; display: block; width: 100%; height: 100%; z-index:99999999999999999; }
#security_messages{ padding-top: 20%; width: 550px; margin-left: auto; margin-right: auto; left: 0; right: 0; }
#security_messages div{ color:#FFFFFF; display: block; clear: both; margin-top: 15px; text-align: center; }




